// COLORS
$primary: #3bcf93;
$secondary: #a8dac5;
$green-light: #a3d1be;

$white: #fff;
$gray: #e6e6e6;
$gray-link: #757575;
$gray-text: #979797;
$gray-border: #3f3f3f;
$black: #000;
$text-black: #3b2828;
