.section-third {
  padding-top: 100px;
  padding-bottom: 200px;
  overflow: hidden;
  background-position: bottom center !important;
  @media (max-width: 960px) {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  & .image {
    padding-bottom: 65px;
    @media (max-width: 960px) {
      padding-bottom: 40px;
    }
  }
  & .title {
    font-size: 59px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    padding-bottom: 25px;
    @media (max-width: 960px) {
      font-size: 30px;
    }
  }
  & .desc {
    line-height: 1.7;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    color: #5e5e5e;
    padding-bottom: 40px;
    max-width: 650px;
    @media (max-width: 690px) {
      max-width: 400px;
      font-size: 16px;
      padding-bottom: 30px;
    }
    @media (max-width: 475px) {
      max-width: 300px;
    }
  }
  & button {
    padding: 10px 50px;
  }
}
