.project-page {
  padding: 100px 0 70px;
  @media (max-width: 960px) {
    padding: 40px 0;
  }
  & .title-wrapper {
    // text-align: center;
  }
  & h3 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #3bcf93;
    padding-bottom: 30px;
    @media (max-width: 960px) {
      font-size: 30px;
    }
  }
  & img {
    padding-bottom: 40px !important;
  }
  & p {
    font-size: 24px;
    letter-spacing: 0px;
    text-transform: none;
    padding-bottom: 30px;
  }
  & ul {
    list-style-type: none;
    padding-bottom: 30px;
  }
  & li {
    color: #6d6d6d;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 15px;
    &::before {
      content: '\2713';
      display: inline-block;
      color: #3bcf93;
      padding: 0 10px 0 0;
      font-weight: bold;
    }
  }
}
